node_modules/
.expo/
dist/
web-build/
.DS_Store
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
android/app/google-services.json
ios/GoogleService-Info.plist

# Environment files
.env
.env.local
.env.production

# Expo
expo-env.d.ts
